/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-white: #ffffff;
  --color-black: #101010;
  --color-blue: #2ab6cd;
  --color-lime: #aedc25;
  --color-gray-light: #ccc;


  --vt-c-text-light-1: var(--color-black);
  --vt-c-text-dark-1: var(--color-white);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-white);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-1);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  /* transition:
    color 0.5s,
    background-color 0.5s; */
  line-height: 1.6;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button {
  color: var(--color-text);
  font-size: 16px;
}