:root {
  --color-white: #ffffff;
  --color-black: #101010;
  --color-black-2: #222222;
  --color-blue: #2ab6cd;
  --color-lime: #aedc25;
  --color-gray: #ccc;
  --color-gray-light: #eee;

  --color-status: #9e9e9e;
  --color-status-green: #55cc45;
  --color-status-red: #d63d2e;

  --text-light-1: var(--color-black);
  --text-dark-1: var(--color-white);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-white);
  --color-text: var(--text-light-1);
  --card-item-color: var(--color-gray-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
    --color-text: var(--text-dark-1); 
    --card-item-color: var(--color-black-2);
    --card-item-color-hover: var(--color-lime);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  /* transition:
    color 0.5s,
    background-color 0.5s; */
  line-height: 1.6;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button {
  color: var(--color-text);
  font-size: 16px;
}